.accordion {
    display: flex;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
    

    &__dropdown {
      width: 50%;
      margin-left: 10px;
      margin-right: 10px;
  
      @media screen and (min-width: $breakpoint-desktop) {
        width: 80%;
      }

      @media screen and (max-width: $breakpoint-desktop) {
        width: 100%;
      }
  
      &__title {
        @extend %flex-between;
        background-color: $primary-color;
        margin-top: 1.5em;
        border-radius: 7px;
        
        cursor:grab;
        @media screen and (min-width: $breakpoint-desktop) {
          margin-left: 108px;
          margin-right: 108px;
        }
  
        h2 {
          color: $tertiary-color;
          margin-left: 10px; 
          @include font(24px, 500);
        }
        p {
          color: $tertiary-color;
          cursor:grab;
          margin-right: 30px;
          i {
            cursor:grab;
          }
        }
      }

      &__content {
        background-color: $secondary-color;
        width: 70%;
  
        border-radius: 5px;
  
        @media screen and (min-width: $breakpoint-desktop) {
          margin-left: 108px;
        }
  
        p {
          @include font(20px, 400);
          color: $primary-color;
          margin: 0 auto;
          padding: 0.8em;
        }
      }
    }
  }